<div>
 <a href="/noticia/vizualizar?id=<%=noticia.id%>">
  
  <%= noticia.id %> <%= noticia.titulo %> <%= noticia.subtitulo %> <%= noticia.data_publicação %> <%= noticia.descricao %> <%= noticia.conteudo%> <%= noticia.autor%>

  </a>
  
  </div>